@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: linear-gradient(to bottom, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
}

/* https://github.com/Cosbgn/tailwindcss-tooltips */
.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50
}

/* svg animations */
@keyframes slide-out-tr{0% { transform: translateY(0) translateX(0);opacity: 1 }to{transform:translateY(-10px) translateX(10px);opacity:0}}

@keyframes happy{0% { stroke-dashoffset:0}to{stroke-dashoffset:200}}

